/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(201, 198, 198);
    color: black;
}


body.dark-theme {
    background-color: rgb(77, 75, 75);
    color: white;
}