<p>cart works!</p>

<ul class="Cart">
    <li *ngFor="let pizza of pizzas">
        <p>{{pizza.name}}</p>
        <P>{{formatter.format(pizza.price)}}</P>
        <p>{{pizza.size.toLowerCase()}}</p>
        <p>{{pizza.crust.toLowerCase().replace('_',' ')}}</p>
        <p>{{pizza.recipe.sauce.toLowerCase()}}</p>
        <ul class="Cart">
            <li *ngFor="let topping of pizza.recipe.toppings">
                <p>{{topping.toLowerCase().replace('fs_seasoning', 'Fly and Swaggy Sauce')}}</p>
            </li>
        </ul>
    </li>
    <button type="button" class="buy" title="buy" (click)="Purchase(pizzas)">Purchase</button>
</ul>
