<h3>Please fill the form</h3>
<div class="form-group">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" id="username" class="form-control" formControlName="username" placeholder="Enter username" required>
                <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                    <div *ngIf="f.username.errors?.['required']">Username is required.</div>
                    <div *ngIf="f.username.errors?.['minlength']">Username must be at least 5 characters long.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password" required>
                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <div *ngIf="f.password.errors?.['required']">Password is required.</div>
                    <div *ngIf="f.password.errors?.['pattern']">Password should be 8-12 characters long, 
                        including at least 1 number, 1 lowercase and 1 uppercase letter, and 1 special character</div>
            </div>
            </div>

      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName" placeholder="Enter your first name">
    
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName" placeholder="Enter your last name">
      
      
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="someone@domain.com" >
        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <div *ngIf="f.email.errors?.['email']">Please enter your email in an appropriate format</div>
                </div>
        </div>
    
      
      <div class="form-group">
        <label for="phone-number">Phone Number: </label>
        <input type="text" id="phone-number" formControlName="phoneNumber" class="form-control" placeholder="Enter you phone number" >
            <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)">
                <div *ngIf="f.phoneNumber.errors?.['pattern']">Please use only numbers</div>
                <div *ngIf="f.phoneNumber.errors?.['maxLength']">Your phone number should contain only 10 digits</div>
            </div>
        </div>
      
      
        <label for="address">Address: </label>
        <input id="address" type="text" formControlName="address" placeholder="Enter your address">
  
        <label for="address2">Apt: </label>
        <input id="address2" type="text" formControlName="address2" placeholder="Not required">
  
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zipCode" placeholder="Your zip code">
      
        <div>
        <button type="submit" [disabled]="!registerForm.valid">Submit</button>
        <button type="button" (click)="login()">Login</button>
        </div>
    </form>
</div>
