

<div>
    <label for="first-name">First Name</label><br>
    <input id="firstname" #firstName placeholder="first name"><br>
    <label for="last-name">Last Name</label><br>
    <input id="lastname" #lastName placeholder="last name"><br>


    <label for="email">Email</label><br>
    <input id="email" type="email" #email placeholder="email"><br>
    <label for="password">Password</label><br>
    <input id="password" type="password" #password placeholder="password"><br>



    <label for="street-address-1">Street Address</label><br>
    <input id="street-address-1" #streetAddress1 placeholder="Street Address"><br>

    <label for="street-address-2">Street Address 2</label><br>
    <input id="street-address-2" #streetAddress2 placeholder="--"><br>

    <label for="city">City</label><br>
    <input id="city" #city placeholder="city"><br>

    <label for="state">State</label><br>
    <input id="state" type="text" #state maxlength="2" placeholder="state"><br>

    <label for="ZIP">ZIP</label><br>
    <input id="ZIP" type="number" #ZIP maxlength="5" placeholder="ZIP"><br>

</div>



email: string;
password: string;
address: string;
isMember: boolean;