<div>
    <h2>Change Your Password</h2>
    <br>
    <br>
    <p>Make sure your password matches in both of the fields below before changing your password.</p>
    <br>
    <br>
    <form [formGroup] = "changePassword">
         <label for="newPass">New Password: </label>
         <input required type="text" id="newPass" formControlName="newPass" onkeyup="check()">
              <br>
              <br>
         <label for="confirm">Confirm Password: </label>
         <input required type="text" id="confirm" formControlName="confirmPass" onkeyup="check()">
              <br>
              <span id='message'></span>
              <br>
         <button type="button" id="change-password-button"> Submit </button>
    </form>
</div>

