
<div class="container">
     <h1>Change {{user.firstName}} Password</h1>

     <p>Your password must match in both of the fields below in order to change your password.</p>
        
     <form [formGroup]="changePassword" (ngSubmit)="submit()">
            
         <div class="form-group">
             <label for="newPass">Password</label>
             <input formControlName="newPass" id="newPass" type="password" class="form-control">
             <div *ngIf="newPassInfo.newPass.touched && newPassInfo.newPass.invalid" class="alert alert-danger">
                 <div *ngIf="newPassInfo.newPass.errors?.['required']">Password is required.</div>
                 <div *ngIf="newPassInfo.newPass.errors?.['pattern']">Password should be 8-12 characters long, 
                    including at least 1 number, 1 lowercase and 1 uppercase letter, and 1 special character</div>
             </div>
         </div>
   
         <div class="form-group">
             <label for="confirmPass">Confirm Password</label>
             <input formControlName="confirmPass" id="confirmPass" type="password" class="form-control">
             <div *ngIf="newPassInfo.confirmPass.touched && newPassInfo.confirmPass.invalid" class="alert alert-danger">
                 <div *ngIf="newPassInfo.confirmPass.errors?.['required']">Password is required.</div>
             </div>
         </div>
         
         <button class="btn btn-primary" type="submit" [disabled]="!changePassword.valid">Submit</button>
     </form>
 </div>
